@import "partials/norm";

$primaryColorLight: #f5cf8a;
$primaryColorDark: #c79685;
$highlightColor: #e23d4a;
$lightColor: #F2F2F2;
$mediumColor: #999;
$darkColor: #333;


//////////////////////////////////////////////////////////// G L O B A L GLOBAL GLOBAL
a:hover, button:hover, p:hover{
	transition: all 0.5s ease;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

h1{
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 24px;
}

h2{
	margin-bottom: 10px;
}

p{
	margin: 8px 0;
}

a{
	color: $lightColor;
	text-decoration: none;
	&:hover{
		color: #primaryColorLight;
	}
}

body{
	background-color: $mediumColor;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color:$darkColor;
	overflow-y: scroll;
}

.container{
	width: 95%;
	margin: 0 auto;
	background-color: $mediumColor;
	-webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.5);
}

section{
	display:flex;
}

.box > div{
	padding: 20px;
}

button {
	background-color: $highlightColor;
	color: $lightColor;
	padding: 5px 10px;
	border: 1px solid $darkColor;
}

button:hover {
	background-color: $lightColor;
	color: $darkColor;
}

//////////////////////////////////////////////////////////// H E A D E R HEADER HEADER
header{
	// height: 100px;
	display: flex;
}

.logo{
	display: flex;
	align-items: center;
	width: 68.6%;
	background-color: $primaryColorLight;
	svg{
		width: 110px;
		height: 80px;
		margin: 40px;
	}
}

.mainNav{
	display: flex;
	justify-content: space-between;
	// align-items:center;
	// flex-direction: column;
	width: 31.3%;
	background-color: $highlightColor;
}

nav{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

nav .fa{
	color: $primaryColorLight;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;
	&:hover{
		color: $lightColor;
	}
}

//auth stuff
.loginOptions{
	text-align: right;
	input{
		margin: 2px 0;
	}
	button{
		margin: 3px;
		outline:none;
	}
}

.displayNone{
	display:none;
}

.displayBlock{
	display: block;
}

.loginForms{
	text-align:right;
	padding: 10px;
	margin: 5px;
	background-color: $primaryColorLight;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	h3{
		margin-bottom: 5px;
	}
}

.hello{
	text-align:center;
	padding: 10px;
	margin: 15px;
	background-color: $primaryColorLight;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	h3{
		margin-bottom: 5px;
	}
}

//////////////////////////////////////////////////////////// S I D E B A R SIDEBAR SIDEBAR

.sideBar{
	text-align: center;
	width: 6%;
	background-color: $darkColor;
	color: $primaryColorDark;
	padding: 10px;
	i{
		color: $primaryColorDark;
		text-decoration: none;
		font-size: 20px;
		margin-bottom: 20px;
		&:hover{
			color: $lightColor;
		}
	}
	div{
		width: 600px;
		color: $primaryColorLight;
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg); 
		-webkit-transform: rotate(-90deg);
		letter-spacing: 1px;
		margin-top: -10px;
		margin-left: -280px;
		a{
			color: $primaryColorDark;
			text-decoration: none;
			&:hover{
				color: $lightColor;
			}
		}
	}
}


//////////////////////////////////////////////////////////// S E A R C H SEARCH SEARCH

.searchFormDiv{
	width: 62.6%;
	background-color: $lightColor;
	h1{
		background-color: $primaryColorDark;
	}
}

// input
.searchForm{
	text-align: center;
	input[type="radio"] {
		display:none;
	}

	input[type="radio"] ~ label {
		img{
		-webkit-filter: brightness(-100);
		filter: brightness(-100);
		}
	}

	input[type="radio"]:checked ~ label {
		img{
		-webkit-filter: none;
		filter: none;
		}
	}

	label{
		display: inline-block;
		text-align:center;
		img{
			width: 90%;
		}
	}
	input[type="text"]{
		padding: 5px;
		margin-top: 25px;
		margin-right: 5px;
		width: 50%;
		outline-color: $primaryColorDark;
		border: 1px solid $darkColor;
			&::-webkit-input-placeholder{
				color: $darkColor;
			}
			&:-moz-placeholder {
				color: $darkColor;
			}
			&::-moz-placeholder {
				color: $darkColor;
			}
			&:-ms-input-placeholder { 
				color: $darkColor;
			}
	}
	input[type="text"], textarea{
		background-color: $primaryColorLight;
	}
}

.brandInputs{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}

.foodsBrand {
	display:inline;
	width: 16%;
}



//////////////////////////////////////////////////////////// M Y  I N F O   MY INFO MY INFO

.myInfo{
	text-align:center;
	order: 1;
	width: 31.3%;
	background-color: $primaryColorDark;
	// div{
	// 	margin: 8px 0;
	// }
	h1{
		background-color: $lightColor;
	}
	span{
		font-weight: bold;
		padding-right: 3px;
	}
}

.myInfoForm div{
	input[type="radio"] {
		display:none;
	}

	input[type="radio"] + label {
		background: none;
		border: 1px solid black;
	}

	input[type="radio"]:checked + label {
		background-color: $primaryColorLight;
		color: $darkColor;
	}

	label{
		display: inline-block;
		padding:5px;
		margin: 5px;
	}
	input{
		margin: 5px;
	}
	input[type="text"]{
		border: 1px solid $darkColor;
	}
}

.numberInput{
	width: 40px;
	outline-color: $highlightColor;
	padding: 5px;
	border: none;
}

.positive{
	color: #269328;
}

.negative{
	color: red;
}

.myInfoTop{
	padding-top: 20px;
}

.nutrientsToAdd{
	background-color: $lightColor;
	display: block;
	margin: 0 auto;
	width: 70%;
	padding: 8px 15px;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

}

input[type="text"].numberInput, textarea {
	background-color : $lightColor;
}



#buttonOn {
	background-color: $lightColor;
	color: $darkColor;
	cursor: default;
}

//////////////////////////////////////////////////////////// R E S U L T S  RESULTS RESULTS
main{
	display:flex;
	.itemsList{
		width: 31.3%;
		background-color: $primaryColorDark;
	}
	.itemInfoCard{
		width: 31.3%;
		background-color: $primaryColorLight;
		h4{
			margin: 10px 0;
		}
	}
	.myDiet{
		text-align: center;
		width: 31.3%;
		background-color: $highlightColor;
		color: $lightColor;
		.myDietTotalCount{
			background-color: $lightColor;
			color:$darkColor;
			display: block;
			width: 70%;
			margin: 0 auto;
			padding: 8px 15px;
			-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
			-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
			box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
		}
		button{
			margin: 5px;
		}
	}
}

.itemsList__food{
	cursor:pointer;
	border: 1px solid black;
	background-color: none;
	&:hover{
		background-color: white;
	}
	p{
		padding: 5px;
		margin: 0;
	}
}

//////////////////////////////////////////////////////////// M Y  D I E T  MY DIET MY DIET

.myDietClearAll, .myDietAddAll{
	margin-bottom: 10px;
}

.myDietItem{
	text-align: center;
	background-color: white;
	margin: 0 20px 10px 20px;
	padding: 10px;			
	color: $darkColor;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	button{
		margin-top: 5px;
	}
	h1,h2,h3,h4,h5,p{
		padding: 0;
		margin: 0;
	}
}


///////////////////////////////////////////////////////////// U S E R P A G E USERPAGE USERPAGE
.userPage, .resourcesPage{
	display:flex;
	h1{
		background-color: $lightColor;
		margin: -10px;
		margin-bottom: 10px;
	}
}

.mealsContent, .resourcesContent{
	width: 94%;
	padding: 10px;
	text-align: center;
}

.userMeals{
	width: 100%;
	display:flex;
	flex-wrap:wrap;
}

.eachMeal{
	width: 33.3%;
	h2{
		margin: 0;
	}
	button{
		margin: 10px;
	}
}

.userMealsItem{
	text-align: center;
	background-color: white;
	margin: 0 20px 10px 20px;
	padding: 10px;			
	color: $darkColor;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	button{
		margin-top: 5px;
	}
	h1,h2,h3,h4,h5,p{
		padding: 0;
		margin: 0;
	}
}



//////////////////////////////////////////////////////////// R E S O U R C E S  RESOURCES

.resources{
	margin: 40px;
}


//////////////////////////////////////////////////////////// F O O T E R FOOTER FOOTER

footer{
	display:none;
	background-color: $darkColor;
	padding: 10px 0;
	text-align: center;
	color: $primaryColorLight;
	p{
		display:inline;
		.fa{
			padding: 0 10px;
			color: $primaryColorDark;
			text-decoration: none;
			font-size: 20px;
			margin-bottom: 10px;
			&:hover{
				color: $lightColor;
			}
		}
	}
	a{
		color: $primaryColorDark;
		text-decoration: none;
		&:hover{
			color: $lightColor;
		}
	}
}

//////////////////////////////////////////////////////////// M E D I A Q U E R I E S mediaqueriesss
@media (min-width: 1300px) {
	.container{
		width: 1300px;
	}
}

@media (max-width: 1050px) {
	.container{
		width: 95%;
	}

	section{
		flex-direction: column
	}

	.myInfo{
		width: 100%;
		order: 0;
		padding-bottom: 20px;
	}

	.searchFormDiv, .resourcesContent, .mealsContent{
		width: 100%;
	}

	.searchFormDiv{
		h1{
			background-color: $primaryColorLight;
			text-align: center;
		}
	}

	footer{
		display:block;
	}

	.sideBar{
		display:none;
	}

	.itemList, .itemInfoCard, .myDiet{
		width: 33.3%;
	}

	main{
		.itemsList{
			width: 33.3%;
		}
		.itemInfoCard{
			width: 33.3%;
		}
		.myDiet{
			width: 33.3%;
		}
	}
}

@media (max-width: 850px) {
	header{
		flex-direction: column;
	}
	.logo{
		width: 100%;
		svg{
			width: 110px;
			height: 80px;
			margin: 40px;
		}
	}

	.mainNav{
		width: 100%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 660px) {
	main{
		flex-direction: column;
		.itemsList{
			width: 100%;
		}
		.itemInfoCard{
			width: 100%;
		}
		.myDiet{
			width: 100%;
		}
	}
}

.box div.itemAdd{
	padding-top: 0;
}

/* Landscape phones and down */
@media (max-width: 480px) {

	.foodsBrand {

		width: 25%;
	}
}