//////////////////////////////////////////////////////////// H E A D E R HEADER HEADER
header{
	// height: 100px;
	display: flex;
}

.logo{
	display: flex;
	align-items: center;
	width: 68.6%;
	background-color: $primaryColorLight;
	svg{
		width: 110px;
		height: 80px;
		margin: 40px;
	}
}

.mainNav{
	display: flex;
	justify-content: space-between;
	// align-items:center;
	// flex-direction: column;
	width: 31.3%;
	background-color: $highlightColor;
}

nav{
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

nav .fa{
	color: $primaryColorLight;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;
	&:hover{
		color: $lightColor;
	}
}

//auth stuff
.loginOptions{
	text-align: right;
	input{
		margin: 2px 0;
	}
	button{
		margin: 3px;
		outline:none;
	}
}

.displayNone{
	display:none;
}

.displayBlock{
	display: block;
}

.loginForms{
	text-align:right;
	padding: 10px;
	margin: 5px;
	background-color: $primaryColorLight;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	h3{
		margin-bottom: 5px;
	}
}

.hello{
	text-align:center;
	padding: 10px;
	margin: 15px;
	background-color: $primaryColorLight;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	h3{
		margin-bottom: 5px;
	}
}