//////////////////////////////////////////////////////////// M E D I A Q U E R I E S mediaqueriesss
@media (min-width: 1200px) {
	.container{
		width: 80%;
	}
}

@media (max-width: 1050px) {
	.container{
		width: 80%;
	}
	section{
		flex-direction: column
	}
	.myInfo{
		width: 100%;
		order: 0;
		padding-bottom: 20px;
	}
	.searchFormDiv, .resourcesContent, .mealsContent{
		width: 100%;
	}
	.searchFormDiv{
		h1{
			background-color: $primaryColorLight;
			text-align: center;
		}
	}
	footer{
		display:block;
	}
	.sideBar{
		display:none;
	}
	.itemList, .itemInfoCard, .myDiet{
		width: 33.3%;
	}
	main{
		.itemsList{
			width: 33.3%;
		}
		.itemInfoCard{
			width: 33.3%;
		}
		.myDiet{
			width: 33.3%;
		}
	}
}

@media (max-width: 990px) {
	.container{
		width: 90%;
	}
	header{
		flex-direction: column;
	}
	.logo{
		width: 100%;
		img{
			width: 50%;
			padding: 10px;
		}
	}
	.mainNav{
		width: 100%;
	}
	.eachMeal{
		width: 50%;
	}
}

@media (max-width: 660px) {
	.container{
		width: 95%;
	}
	main{
		flex-direction: column;
		.itemsList{
			width: 100%;
		}
		.itemInfoCard{
			width: 100%;
		}
		.myDiet{
			width: 100%;
		}
	}
	nav .fa{
		padding: 10px;
	}

	.box div.itemAdd{
		padding-top: 0;
	}
}

@media (max-width: 480px) {
	.container{
		width: 100%;
	}
	.foodsBrand {
		width: 25%;
	}
	.eachMeal{
		width: 100%;
	}
	div.logo{
		text-align: center;
		margin: 0 auto;
		a{
			width: 100%;
		}
		img{
			width: 40px;
			padding: 5px;
			margin: 0;
		}
	}
}